body {
    background: linear-gradient(75deg, #004d4d 50%, #008080 50%);
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#titleSpan {
    font-weight: bolder;
    font-size: 35px;
}

.hide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.entryBox {
    background-color: transparent;
    border: none;
    border-bottom: white solid 1px;
}
.entryBox:focus {
    border-bottom: white solid 3px;
    outline: 0;
    transition: border-bottom 0.2s ease-in;
}

.div1 {
    position: absolute;
    top: 10%;
}

label {
    position: relative;
    margin-top: 4%;
}

input[type=number] {
    position: relative;
    width: 30%;
}

#billTotal {
    position: relative;
    left: 10%;
}

#itemList {
    position: absolute;
    width: 100%;
    top: 57%;
}

#splitBill {
    position: absolute;
    top: 70%;
    left: 0%%;
}

.btnClass {
    color: white;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-weight: bold
}
.btnClass:before,
.btnClass:after {
    content: '';
    display: block;
    position: absolute;
    border-color: white;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}
.btnClass:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}
.btnClass:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}
.btnClass:hover:before,
.btnClass:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}
.btnClass:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}

#sharingCheck {
    position: absolute;
    top: 37%;
    width: 35px;
    height: 35px;
    border: 5px solid white;
    border-radius: 20px;
    outline: 0;
    background-color: white;
    cursor: pointer;
}

#checkSpan {
    position: absolute;
    left: 15%;
    top: 38%;
    font-weight: bold;
}