<!DOCTYPE html>
<html>
<head>
	<title>Split your bills!</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/splitcss.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
</head>
<body>
	<div class="container">
		<div class="row" id="div1">
			<h1 class="titleText">Split your bills unevenly!</h1><br>
		</div>
		<div class="row" id="div2">
			<span class="textSpan">Bill total:</span>
			<input type="number" id="billTotal" class="inputBox" step="0.01"><br><br>
			<span class="textSpan">Number of sharers:</span>
			<input type="number" id="numSharers" class="inputBox"><br><br>
			<span class="textSpan">Individual claims?</span>
			<!-- <div class="checkElement unchecked" id="shareCheck" onclick="showTable()"></div> -->
			<span class="checkElement" id="shareCheck" onclick="showTable()">Yes/<b><u>No</u></b></span><br><br>
		</div>
		<div class="row hide" id="div3">
			<input type="text" class="inputBox2" placeholder="[Item name]" size="15" maxlength="15" id="itemName">
			<input type="number" class="inputBox2" placeholder="[Item price]" id="itemPrice" step="0.01"><br><br>
			<input type="text" class="inputBox2" size="15" maxlength="15" id="sharerNames" placeholder="[Sharers]">
			<button class="buttonClass" id="addButton" onclick="addItem()">Add</button><br><br>
			<table id="itemTable" class="itemTable"></table>
		</div>
		<div class="row" id="div4">
			<!-- <button class="buttonClass" id="submitButton" onclick="splitBill()">Split!</button> -->
			<button class="buttonClass" id="submitButton" onclick="deleteThisLater()">Split!</button>
		</div>
	</div>

	<!-- JavaScript section below -->

	<script type="text/javascript">

		var checkFlag = false;

		function showTable() {
			document.getElementById('div3').classList.toggle('hide');
			if (!checkFlag) {
				document.getElementById('shareCheck').innerHTML = "<b><u>Yes</u><b>/No";
				checkFlag = true;
			}
			else {
				document.getElementById('shareCheck').innerHTML = "Yes/<b><u>No</u><b>";
				checkFlag = false;
			}
		}

		function deleteRow(r) {
			var i = r.parentNode.parentNode.rowIndex;
			document.getElementById("itemTable").deleteRow(i);
		}

		function addItem() {
			var tableRow = document.createElement('tr');
			var name = document.createElement('td');
			name.innerHTML = document.getElementById('itemName').value;
			var price = document.createElement('td');
			price.innerHTML = document.getElementById('itemPrice').value;
			var sharers = document.createElement('td');
			sharers.innerHTML = document.getElementById('sharerNames').value.trim();
			var removeTd = document.createElement('td');
			removeTd.innerHTML = "<button class='remButton' onclick='deleteRow(this)'>x</button>";

			tableRow.appendChild(name);
			tableRow.appendChild(price);
			tableRow.appendChild(sharers);
			tableRow.appendChild(removeTd);

			document.getElementById('itemTable').appendChild(tableRow);

			document.getElementById('itemName').value = "";
			document.getElementById('itemPrice').value = "";
			document.getElementById('sharerNames').value = "";
		}

		function splitBill() {

			var data = {};
			data.total = Number(document.getElementById('billTotal').value);
			data.num_sharers = Number(document.getElementById('numSharers').value);
			data.items = Array();

			var table = document.getElementById("itemTable");
			for (var i = 0, row; row = table.rows[i]; i++) {
				var itemShare = {};
			   	itemShare.name = row.cells[0].innerHTML;
			   	itemShare.price = row.cells[1].innerHTML;
			   	itemShare.claimers = row.cells[2].innerHTML;

			   	// Some validation
			   	var nocode = /^[\w-]+$/;
			   	var rightformat = /^\w+(\s\w+)*$/;

			   	if (nocode.exec(itemShare.name) == null || rightformat.exec(itemShare.claimers) == null) {
			   		alert("Please check the input.");
			   	}
			   	else {
			   		data.items.push(itemShare);
			   	}
			}

			// Sending data to the server
			var xhr = new XMLHttpRequest();
			xhr.open("post", "/split");
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.send(JSON.stringify(data));

			xhr.onreadystatechange = function () {
				if (xhr.readystate == 4 && xhr.status == 200) {
					alert(xhr.responseText);
				}
			}
		}

		// DELETE THIS SECTION. BUTTON TESTING. 

		var clickFlag = false;

		function deleteThisLater() {
			alert("Kamehameha!!");
			if (!clickFlag) {
				var data = {
					"share": {
						"AK": "15.17",
						"AR": "15.17",
						"MK": "14.18",
						"AB": "14.18",
						"__rest": "13.30"
					},
					"total": "72.00"
				}
				var finalSplit = "";
				for (var sharer in data.share) {
					finalSplit += sharer + " pays $" + data.share[sharer] + "<br>";
				}
				finalSplit += "<span class='minimizer'>[press to minimize]</span>";

				document.getElementById('submitButton').innerHTML = finalSplit;
				clickFlag = true;
			}
			else {
				document.getElementById('submitButton').innerHTML = "Split!";
				clickFlag = false;
			}	

		}
	</script>
</body>
</html>
